<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Profile</title>
</head>
<body>
	<div layout:fragment="content" class="container topSpace">
		<div class="container">
			<div class="row justify-content-center">
				<h1>Task Details</h1>
			</div>
		</div>
		<br>
		<br>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Sr. no.</th>
							<th>Date</th>
							<th>Start Time</th>
							<th>Stop Time</th>
							<th>Description</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="task,iterator:${tasks}">
							<td th:text="${iterator.index}+1"></td>
							<td th:text="${task.date}"></td>
							<td th:text="${task.startTime}"></td>
							<td th:text="${task.stopTime}"></td>
							<td th:text="${task.description}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>